<div [id]="rootId">
  <div class="p-3 over-ind">
    <div class="d-flex flex-row dialog-container">
      <div class="icon {{data.icon}}">
        <mat-spinner *ngIf="data.icon == 'loading'" diameter="30">
        </mat-spinner>
      </div>
      <div class="text">
        <p *ngIf="data.title" class="title">{{data.title}}</p>
        <p *ngIf="data.text" class="content">{{data.text}}</p>
      </div>
      <button id="close" mat-icon-button class="close" *ngIf="data.showCloseButton" [color]="data.closeButtonColor"
        (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div [id]="progresId" class="progress {{data.icon}}"></div>
</div>
