table {
  width: 100%;
}

.but{
  margin-top: 10px;
  margin-bottom: 10px;
  width: min-content;
}

.color-icon {
  color: #14649B
}

.highlight {
  transform: scale(1.010) !important;

  td {
    color: #14649B;
    font-weight: bold;

    button {
      color: #14649B;
      font-weight: bold;
    }

    &:last-child::after {
      font-family: 'Material Icons';
      content: "\e876";
    }
  }
}

