<div class="welcome">

  <h1>Bienvenido a Mi Prestamista</h1>
  <img src="assets/logo.png" alt="Logo de Mi Prestamito" class="logo">
  <p>Gracias por ser parte de nuestro banco.</p>
  <p>
    Nos enorgullece tener la oportunidad de brindar soluciones financieras asequibles y confiables para satisfacer las necesidades de todos nuestros miembros. Nuestra misión principal es garantizar que cada individuo tenga acceso a opciones financieras accesibles y confiables, sin importar su situación económica. Estamos comprometidos en proporcionar soluciones que sean fiables y asequibles para todos, con el objetivo de crear un entorno financiero inclusivo y equitativo.
  </p>
</div>
